<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Jobs</title>
    
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
  h1{
    text-align:center;
    color: rgb(100, 100, 100);;
    margin: 10 auto;
  }
  #banner{
    width: 100%;
    height: 320px;
  }
</style>
  </head>
  <body >
    <div class="container">
    <h1>Tech Jobs</h1>
    <img class="img-fluid" id="banner" src="https://sayed-careers-website--sayedhussein1.repl.co/static/careerbanner.jpg">
    <h1>About Tech Jobs </h1>
    <p class="lead">
      tech jobs is platform for providing real lstest updates opprtunities for IT sectors.
    </p>
       <h1>Open Jobs in {{company_name}} </h1>
      <div>
        {% for job in jobs %}
        {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
    <button class="btn btn-primary">Contact Us</button>
      <p>copyright, 2023</p>
      </div>
</div>


  </body>
</html>